@import "../base/font.scss";
@import "../sass-utils/variable.scss";
@import "../base/reset.scss";

.chefs {

    position: relative;
    background-image: url("./img/chef/imgbg-ourchefs.jpeg");
    background-size: cover;
    z-index: -2;

    .chefs__bg-text {
        position: absolute;
        color: rgba(53, 53, 53, 0.133);
        z-index: -1;
        font-family: font-family, 'Cinzel', serif;
        font-weight: 400;
        font-size: 150px;
        margin-left: -60px;
    }

    h2 {
        font-family: font-family, 'Cinzel', serif;
        color: $text-color-light;
        font-weight: 400;
        margin-top: 100px;
    }

    h3 {
        margin-bottom: 50px;
        color: $text-color-light;
        font-weight: 300;
        margin-top: 20px;
        font-size: 15px;
    }

    .chefs__article {
        display: flex;
        flex-direction: column;
        margin: 100px;
        align-items: center;

        .chefs__photo {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            img {
                max-width: 230px;
                margin: 10px;
                margin-bottom: 200px;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    
    .chefs__photo {
        justify-content: center !important;
    }
}