@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap");
/* Remise à zéro des marges et des paddings de la page*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Retrait des puces sur les listes */
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  background-image: url("./img/footer/img-ng-footer.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-family: Open sans, sans-serif;
  min-height: 500px;
}
footer .footer__logo {
  max-width: 200px;
  margin-top: 20px;
}
footer p, footer li {
  font-size: small;
  color: grey;
  line-height: 20px;
}
footer .footer__column {
  display: flex;
  max-width: 80%;
  flex-basis: 100px;
}
footer .footer__column .footer__about__li, footer .footer__column .footer__facilities__li, footer .footer__column .footer__contact {
  width: 500px;
  margin: 10px;
}
footer .footer__column .footer__about__li li, footer .footer__column .footer__facilities__li li, footer .footer__column .footer__contact li {
  margin-bottom: 20px;
}
footer .footer__column .footer__nl {
  margin: 10px;
}
footer .footer__column .footer__nl input {
  padding: 10px;
  margin-right: 0px;
}
footer .footer__column .footer__nl button {
  margin-top: 20px;
  margin-left: -10px;
  padding: 10px;
  background-color: #c8a969;
  border: solid #c8a969;
}
footer .footer__column .footer__nl button a {
  color: #FFF;
}
footer .footer__column h4 {
  padding-bottom: 20px;
  font-size: larger;
  font-weight: 400;
  font-family: font-family, "Cinzel", serif;
}
footer .footer__contact i {
  color: #c8a969;
}
footer .footer__baseline {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border-top: 2px solid rgb(61, 61, 61);
}
footer .footer__baseline .footer__copyrights {
  flex-grow: 1;
  flex-basis: 0;
}
footer .footer__baseline a {
  color: #c8a969;
}
footer .footer__baseline .footer__spoon img {
  max-width: 40px;
  margin-top: -10px;
}
footer .footer__baseline .footer__rs {
  flex-grow: 1;
  flex-basis: 0;
}
footer .footer__baseline .footer__rs .footer__rs__li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
footer .footer__baseline .footer__rs .footer__rs__li a {
  color: grey;
}
footer .footer__baseline .footer__rs .footer__rs__li a:hover {
  color: #c8a969;
}
footer .footer__baseline .footer__rs .footer__rs__li i {
  font-size: 30px;
  margin: 5px;
}

/* Remise à zéro des marges et des paddings de la page*/
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Retrait des puces sur les listes */
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Remise à zéro des marges et des paddings de la page*/
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Retrait des puces sur les listes */
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
header .menu__logo {
  display: flex;
  width: 10%;
  height: 10%;
}
header .menu__nav {
  display: flex;
  margin-left: 125px;
}
header .menu__nav .menu__ul {
  display: flex;
}
header .menu__nav .menu__li {
  display: flex;
  color: white;
  font-size: 14px;
}
header .menu__nav .menu__link {
  display: flex;
  color: white;
  margin: 20px;
  font-size: 14px;
  text-decoration: none;
}
header .fa-phone {
  color: #c8a969;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
header .menu__phone {
  display: flex;
  color: white;
  margin: 20px;
  margin-left: 260px;
  font-size: 14px;
}
header .menu__button {
  display: flex;
  align-items: center;
  background-color: #c8a969;
  border-radius: 7px;
  color: white;
  padding: 7px;
  width: 170px;
  height: 45px;
  margin-left: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  margin-right: 5px;
}
header .menu__button .menu__linkbutton {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
}
header .menu__button .fa-arrow-right {
  display: flex;
  align-items: center;
  margin: 5px;
}

/* Remise à zéro des marges et des paddings de la page*/
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Retrait des puces sur les listes */
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.blog {
  position: relative;
}
.blog .blog__bg-text {
  color: #f9f6f0;
  font-family: font-family, "Cinzel", serif;
  font-weight: 400;
  font-size: 150px;
  margin-left: -60px;
  position: absolute;
  z-index: -1;
}
.blog h2 {
  font-family: font-family, "Cinzel", serif;
  font-weight: 400;
  margin-top: 100px;
}
.blog h3 {
  margin-bottom: 50px;
  font-weight: 300;
  margin-top: 20px;
  font-size: 15px;
}
.blog h5 {
  font-family: "Frank Ruhl Libre", serif;
  text-transform: capitalize;
  font-weight: 100;
  font-size: 15px;
}
.blog .blog__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.blog .blog__article .blog__logos {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 100px;
}
.blog .blog__article .blog__logos img {
  max-width: 60px;
  filter: contrast(0);
}
.blog .blog__article .blog__logos img:hover {
  filter: none;
}
.blog .blog__article .blog__all-logs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  width: 90%;
  justify-content: space-evenly;
}
.blog .blog__article .blog__all-logs .blog__logs {
  max-width: 300px;
  height: 390px;
  background-color: #f5eee3;
}
.blog .blog__article .blog__all-logs .blog__logs img {
  max-width: 300px;
}
.blog .blog__article .blog__all-logs .blog__logs .logs__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 159px;
  padding: 10px;
  justify-content: flex-start;
  padding-left: 20px;
}
.blog .blog__article .blog__all-logs .blog__logs .logs__text .blog__logs__author, .blog .blog__article .blog__all-logs .blog__logs .logs__text .blog__logs__date {
  font-weight: 300;
  font-size: 10px;
  margin-bottom: 10px;
}
.blog .blog__article .blog__all-logs .blog__logs .logs__text .blog__logs__author i, .blog .blog__article .blog__all-logs .blog__logs .logs__text .blog__logs__date i {
  color: #c8a969;
}
.blog .blog__article .blog__all-logs .blog__logs .logs__text .blog__logs__date {
  margin-left: 20px;
}
.blog .blog__article .blog__all-logs .blog__logs .logs__text .blog__logs__button {
  border: 0px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 10px;
}
.blog .blog__article .blog__all-logs .blog__logs .logs__text .blog__logs__button a {
  color: #000;
  font-size: 10px;
}
.blog .blog__article .blog__all-logs .blog__logs .logs__text .blog__logs__button:hover {
  background-color: #c8a969;
}
.blog .blog__article .blog__all-logs .blog__logs .logs__text .blog__logs__button:hover a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
