// Couleurs de la page web :

$bg-color-light: #F9F6F0; //Couleur de fond clair
$bg-color-dark: #131011; //Couleur de fond foncé
$bg-text-light: #F9F6F0; //Couleur du texte de fond
$bg-text-dark: #F5EEE3;

$main-color: #C8A969; //Couleur des accents