// Couleurs de la page web :

$bg-color-light: #f9f6f0; //Couleur de fond beige clair
$bg-color-dark: #131011; //Couleur de fond foncé
$bg-text-light: #f9f6f0; //Couleur du texte de fond sur fond clair
$bg-text-dark: #f5eee3; //Couleur du texte de fond sur fond foncé

$text-color-light: #fff; //Couleur du texte sur fond foncé
$text-color-dark: #000;
$white: white;
$black: black;

$main-color: #c8a969; //Couleur des accents
