// Couleurs de la page web :

$bg-color-light: #f9f6f0; //Couleur de fond clair
$bg-color-dark: #131011; //Couleur de fond foncé
$bg-text-light: #f9f6f0; //Couleur du texte de fond
$bg-text-dark: #f5eee3;

$main-color: #c8a969; //Couleur des accents

$white: white;
$black: black;
