@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.menu__nav {
  display: flex;
  margin-left: 125px;
  .menu__ul {
    display: flex;
    .menu__li {
      display: flex;
      color: white;
      font-size: 14px;
      .menu__link {
        display: flex;
        color: white;
        margin: 20px;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
  
  
}

.menu__phone {
  display: flex;
  color: white;
  margin: 20px;
  margin-left: 260px;
  font-size: 14px;
}
.fa-phone {
  color: #c8a969;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.menu__button {
  display: flex;
  align-items: center;
  background-color: #c8a969;
  border-radius: 7px;
  color: white;
  padding: 7px;
  width: 170px;
  height: 45px;
  margin-left: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  margin-right: 5px;
}
